.sect-admin-req-detail {
    width: 90%;
    margin: auto;
    min-height: 92vh;
    
}

/* Rejection Box */

.modal .modal-title {
    color: var(--color-65-black);
}


.modal button {
    font-size: var(--btnSize);
    padding: 3px 10px;
    
}

.modal .btn-reject {
    padding: 3px 30px;
    /* margin: 0 0 0 10px; */
}

/* Requestor Details */

.sect-admin-req-detail .requestor-details {
    border-right: 2px solid var(--bordercolor);
    max-width: 250px;
}

.sect-admin-req-detail .requestor-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.sect-admin-req-detail .requestor-detail > * {
    margin: 3px 0;
    text-align: center;
    opacity: 85%;
}

.sect-admin-req-detail .requestor-detail .req-img {
    border: 1px solid var(--bordercolor);
    border-radius: 50px;
    overflow: hidden;
    margin-top: 15px;
    opacity: 1;
}

.sect-admin-req-detail .requestor-detail .req-img img {
    width: 80px;
    height: 80px;
}

.sect-admin-req-detail .requestor-detail .req-name {
    font-size: var(--Header);
    font-weight: var(--regular);
    border-bottom: 1px solid var(--bordercolor);
    padding: 0 5px;
    
}

.sect-admin-req-detail .requestor-detail .req-unit,
.sect-admin-req-detail .requestor-detail .req-email,
.sect-admin-req-detail .requestor-detail .req-phone {
    font-size: var(--tableHeader);
    font-weight: var(--light);
    margin: 1px 0;
}

/* Request ID/Date/Purpose and Button */

.sect-admin-req-detail .req-detail {
    padding: 10px;
    margin: auto;
}

.sect-admin-req-detail .req-id-date {
    border-bottom: 2px solid var(--bordercolor);
    padding: 12px 0;
}

.sect-admin-req-detail .req-id-date .id-date > * {
    opacity: .85;
}

.sect-admin-req-detail .req-id-date .id-date .span-req-id {
    color: var(--main-color);
}

.sect-admin-req-detail .req-id-date .id-date label {
    display: block;
    margin-bottom: 5px;
}

/* .sect-admin-req-detail .req-id-date .id-date textarea {
    resize: none;
} */

.sect-admin-req-detail .req-btn {
    text-align: center;
    opacity: 1;
}

.sect-admin-req-detail .req-btn button {
    font-size: var(--btnSize);
    padding: 5px;
    width: 150px;
    margin: 0 5px;
}


/* Requested Merchandise */

.sect-admin-req-detail .req-items-details h6 {
    text-align: center;
    font-size: var(--Header);
    opacity: 0.8;
    padding: 5px 0;
}


table .quantity-control {
    user-select: none;
}

table .quantity-control .add-sign, 
table .quantity-control .minus-sign {
    margin: 0 1px;
    padding: 0 5px;
}

table .quantity-control span:first-child,
table .quantity-control span:last-child {
    cursor: pointer;
    font-size: 1.2rem;
}

table .quantity-control span:first-child:hover,
table .quantity-control span:last-child:hover {
    opacity: 0.5;
}

table .quantity-control span:first-child:active,
table .quantity-control span:last-child:active {
    opacity: 1;
}

table .input-quan {
    width: 37px;
    max-width: 100%;
    text-align: center;
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
}

.req-items-details .bi-x:hover {
    cursor: pointer;
    color: black;
}

.req-items-details .bi-x:active {
    color: var(--color-65-black);
}

.req-detail-header {
    display: flex;
}

.req-detail-header > * {
    flex: 1 1 0;
}

.req-id-date table {
    border-spacing: 0 10px;
}

.req-id-date table tr {
    border-bottom: 1px solid var(--bordercolor);
}

.req-id-date table th {
    padding: 10px 0;
}

.req-id-date table td {
    padding: 10px 10px;
}

@media screen and (max-width: 524px) {

    .sect-admin-req-detail {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .req-detail {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .req-detail .req-btn button {
        margin: 5px 0;
    }

    .id-date {
        margin: auto;
    }

    .req-detail-header {
        flex-direction: column-reverse;
        align-items: center;
    }

    .req-detail-header > * {
        margin: 5px 0;
    }
}

@media screen and (max-width: 1278px) {
    .req-detail .req-btn button {
        margin: 5px 0;
    }

    .sect-admin-req-detail {
        flex-direction: column;
    }

    .sect-admin-req-detail .requestor-details {
        border-right: none;
        margin: auto;
    }
}